<style type="text/css">
 .form-error {
     color: red;
     font-weight: bold;
     padding-bottom:10px;
 }
 .form-error ul {
     margin:0;
 }
</style>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
	<div class="flash-{{ label }}">
	    {{ message }}
	</div>
    {% endfor %}
{% endfor %}


<div class="card step_2">
    <div class="card-content">

        <span class="card-title color_product_primary center-align">
	    Étape 2
	</span>

	<p class="h6 center-align">Remplissez ce formulaire</p>

	<div class="form-wrapper">
            <div class="input-field">
		{{ form_row(form.facturationAdress.name) }}
                <div class="form-error"></div>
            </div>

            <div class="input-field">
		{{ form_row(form.facturationAdress.surname) }}
                <div class="form-error"></div>
            </div>

	    {{ form_row(form._token) }}    

	    <div class="input-field">
		{{ form_row(form.facturationAdress.adress) }}
                <div class="form-error"></div>
            </div>

	    <div class="input-field">
		{{ form_row(form.facturationAdress.adressComplementary) }}
                <div class="form-error"></div>
            </div>

	    <div class="input-field">
		{{ form_row(form.facturationAdress.city) }}
                <div class="form-error"></div>
            </div>

	    <div class="input-field">
		{{ form_row(form.facturationAdress.postalCode) }}
                <div class="form-error"></div>
            </div>

            <div class="input-field country">
		{{ form_row(form.facturationAdress.country) }}
                <div class="form-error"></div>
	    </div>
	    
            <div class="input-field phone">
		<div id ="phoneMessage">
		    
		</div>
		{{ form_row(form.facturationAdress.phone) }}
                <div class="form-error"></div>
            </div>

	    <div class="input-field">
		{#{ form_row(form.facturationAdress.email) }#}

		{{ form_row(form.facturationAdress.email.first) }}
		{{ form_row(form.facturationAdress.email.second) }}
		{#{ form_label(form.facturationAdress.email) }#}

                <div class="form-error"></div>
	    </div>
        </div>
    </div>
    
    <ul class="collapsible" id="delivery">
	<li>
	    <div class="collapsible-header">
		{#<i class="material-icons">markunread_mailbox</i>#}
		Adresse de livraison différente ?
	    </div>

	    <div class="collapsible-body">
		<div class="input-field">
		    {{ form_row(form.deliveryAdress.name) }}
                    <div class="form-error"></div>
		</div>
		
		<div class="input-field">
		    {{ form_row(form.deliveryAdress.surname) }}
                    <div class="form-error"></div>
		</div>

		<div class="input-field">
		    {{ form_row(form.deliveryAdress.adress) }}

		    <div class="form-error"></div>
                </div>
		
		<div class="input-field">
		    {{ form_row(form.deliveryAdress.adressComplementary) }}
		    <div class="form-error"></div>
                </div>
		
		<div class="input-field">
		    {{ form_row(form.deliveryAdress.city) }}
		    <div class="form-error"></div>
                </div>
		
		<div class="input-field">
		    {{ form_row(form.deliveryAdress.postalCode) }}
		    <div class="form-error"></div>
                </div>

		<div class="input-field">
		    {{ form_row(form.deliveryAdress.country) }}
		    <div class="form-error"></div>
                </div>

		<div class="input-field">
		    {{ form_row(form.deliveryAdress.email) }}
		    <div class="form-error"></div>
		</div>
		
		<div class="input-field">
		    {{ form_row(form.deliveryAdress.phone) }}
		    <div class="form-error"></div>
                </div>

	    </div>
        </li>
    </ul>


	    {# Etape 3 #}
	    <div class="card step_3">
		<div class="card-content">
		    <span class="card-title color_product_primary center-align">Étape 3</span>

		    <p class="h6 center-align">Choisissez un paiement</p>

		    <ul class="collapsible">
			<li class="active">
			    <div class="collapsible-header">
				<i class="fas fa-credit-card"></i>
				Payer avec la Carte Bancaire
			    </div>
			    
			    <div class="collapsible-body card-form">

				<div class="row">
				    <div class="center-align">

					<label for="card-element">
					    Credit or debit card
					</label>
					<div id="card-element">
					    <!-- A Stripe Element will be inserted here. -->
					</div>

					<!-- Used to display Element errors. -->
					<div id="card-errors" role="alert"></div>

					<button type="submit" name="order_form[paymentMode]" id="phoneSubmit"
						value="stripe" class="btn-large btn-block waves-effect waves-light">
					    Continuer
					</button>

					<p>J'accepte les
					    <a href="https://feelwellshop.com/fr/conditions-generales-de-ventes"
					       target="_blank">conditions générales de vente</a>
					</p>
					
					<img class="responsive-img monetico"
					     src="assets/images/paiement-securise-stripe.jpeg"
					     alt="Stripe protège vos achats">
				    </div>
				</div>
			    </div>
			</li>

			<li>
			    <div class="collapsible-header">
				<i class="fab fa-cc-paypal">
				</i>Payer avec Paypal
			    </div>

			    <div class="collapsible-body">
				<div class="row">
				    <div class="center-align">
					<div class="form-row">
					</div>

					<!-- <input name="order_form[paymentMode]" type="hidden" value="paypal"/> -->
					
					<button type="submit" name="order_form[paymentMode]"
						      value="paypal" class="btn-large btn-block waves-effect waves-light">
					    Continuer sur PayPal
					</button>


					<p>J'accepte les
					    <a href="https://feelwellshop.com/fr/conditions-generales-de-ventes"
					       target="_blank">conditions générales de vente</a>
					</p>
				    </div>
				</div>
			    </div>
			</li>
		    </ul>
		</div>
	    </div>
